*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
   background-image: url(./imgs/samurayPiinterest.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: auto;

}
.container{

    background-color: transparent;
    backdrop-filter: blur(3.6px);
    border-radius: 5px;
    padding: 8px 15px;
  text-align: center;
  width: 300px;
  margin: 10px auto;
}
img{
    width: 100%;
}
p{
    font-family: 'Grenze Gotisch', cursive;
    
}
h1:hover{
    font-family: 'Grenze Gotisch', cursive;
    color: red;
    transition: 2.5s;
    text-transform: uppercase; 
}
p:hover{
    color: red;
    transition: 2.5s;
    text-transform: uppercase; 
}

.avatar{
width: 100px;
height: 100px;
border-radius: 50%;
border:  solid gray 4px ;
padding: 3.7px;
}
.avatar:hover{
   border:  solid rgba(233, 6, 6, 0.952);
   transition: 2.5s;
}

h1{
margin-top: 24px;
margin-bottom: 8px;

}

.face{
width: 5%;
margin: 0 5px;
}

.insta{
    width: 6%;
    margin: 0 5px;
}

.git{
    width: 5%;
    margin: 0 5px;
}

.linkedin{
   width: 6%;
   margin: 0 5px;
}

ul{
 
    
    
        list-style: none;
        margin: 48px 0;
}
ul li a{
  
    display: flex;
    height: 53px;
    justify-content: center;
    align-items: center;
    background:linear-gradient(red,black) ;
    border-radius: 5px;
    margin-bottom: 16px;
    transition: background 400ms;
    color:grey;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    
}
ul li a:hover{
    
    background: greenyellow ;
    font-family: 'Grenze Gotisch', cursive;
    color: #000000;
    opacity: 0.9;
    transition: 2.5s;
}
ul li a:active{
    font-size: 30px;
    color: #000000;
}

.botao{
    display: flex;
    margin-left: -1px;
    padding: 2px 5px;
    background: linear-gradient(red,black);
    width: 271px;
    height: 53px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: background 400ms;
    color: grey;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    border: none;
    
    
}
.botao:hover{
    font-family:'Grenze Gotisch', cursive;
    background: greenyellow ;
    opacity: 0.9;
    transition: 2.5s;
    cursor: pointer;
    
}
.botao:active{
    font-size: 30px;
    color: #000000;
    font-family:'Grenze Gotisch', cursive;
}

footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(73, 72, 72);
}
footer a:hover{
    text-transform: uppercase;
    font-family: 'Grenze Gotisch', cursive;
    color: blueviolet;
    font-size: 18px;

}
@media(max-width:600px){
    body{
        height:auto;
    }
}

